
<h2 id="musique">Musique</h2>
<div class="row-fluid">
	<section class="music span12">
		<p><strong>Premier EP <em>"Selon ma nature"</em> toujours disponible !</strong></p>
		<iframe style="width: 288px; height: 288px;" src="http://bandcamp.com/EmbeddedPlayer/album=2034657383/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://wailingtrees.bandcamp.com/album/selon-ma-nature">Selon Ma Nature by WAILING TREES</a></iframe>
	</section>
</div>
<h2 id="videos">Videos</h2>
<div class="row-fluid">
	<section class="video span12">
		<iframe width="440" height="330" src="//www.youtube.com/embed/Ac-F_mV4G6k" frameborder="0" allowfullscreen></iframe>
		<iframe width="440" height="330" src="//www.youtube.com/embed/vgtnnIYD7C8" frameborder="0" allowfullscreen></iframe>
	</section>
</div>
<h2 id="band">Le groupe</h2>
<div class="row-fluid">
	<section class="bio span6">
		<h3>Français</h3>

		<p>
			Nominé aux « Victoire du Reggae » en France dans la catégorie « Artiste révélation  2014 » puis vainqueur du «Rototom European Reggae Contest 2014 » Wailing Trees  ne cesse de monter en puissance depuis la sortie de son 1er EP « Selon ma nature  » en octobre 2012.
		</p><p>
			Jeune groupe dynamique et ambitieux, il distille avec élégance un reggae teinté de  soul, de jazz, de rock et de musiques du monde. Avec des textes sincères et actuels  portés par une voix unique, Wailing Trees crée son propre univers. Frais, explosif et  bien ficelé, c’est une valeur sûre à voir en live !
		</p><p>
			Le groupe a d’ailleurs déjà assuré une centaine de concerts en France et en Europe et  a partagé l’affiche d’artistes d'envergures tels que Lauryn Hill, Sean Paul, Patrice,  Shaggy, IAM, Jimmy Clif , Groundation, Tiken Jah Fakoly, Dub Inc, Kymani  Marley, Lee Scratch Perry, The Abyssinians, Biga Ranx, Soom T, Naâman, ...
		</p>
	</section>
	<section class="bio span6">
		<h3>English</h3>

		<p>
			Nominated at the « Reggae Music Awards » in France in the category « Best  revelation artist 2014 », then winner of the « Rototom European Reggae  Contest 2014 », Wailing Trees is ramping up since his 1st EP release  « Selon ma nature » in october 2012.
		</p><p>
			Fresh up­-and­-coming band, dynamic and ambitious, he is mixing a dynamic and ambitious sound of reggae tinged of soul, jazz, rock and world music.  With sincere lyrics sung by a singular voice, Wailing Trees creates his own  musical world. Fresh, explosive and well tied up, it’s a safe bet to see in live !
		</p><p>
			Over one hundred concerts, the band has already opened for many  internationally recognised artists, such as Lauryn Hill, Sean Paul, Patrice,  Shaggy, IAM, Jimmy Clif , Groundation, Tiken Jah Fakoly, Dub Inc, Kymani  Marley, Lee Scratch Perry, The Abyssinians, Chronixx, Protoje, ...
		</p>
	</section>
</div>
<h2 id="shows">Concerts</h2>
<div class="row-fluid">
	<section class="concerts span12">
			<script type='text/javascript' src='https://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="https://www.bandsintown.com/Wailing%20Trees" class="bit-widget-initializer" data-artist="Wailing Trees" data-prefix="fbjs">Bandsintown</a>
	</section>
</div>
<h2 id="pro">Espace Pro</h2>
<div class="row-fluid">
	<section class="bio span6">
		<h3>Documents techniques</h3>
		<ul>
			<li><b><%= link_to "Press Book", "docs/PRESS_BOOK_WAILING_TREES.pdf" %></b></li>
			<li><%= link_to "Fiche Technique", "docs/wailing_trees_patch_son.pdf" %></li>
			<li><%= link_to "Patch lumière", "docs/wailing_trees_patch_lumieres.pdf" %></li>
			<li><%= link_to "Plan de feu", "docs/wailing_trees_plan_de_feu.pdf" %></li>
			<li><%= link_to "Rider", "docs/wailing_trees_rider.pdf" %></li>
		</ul>
			<span><%= link_to "Tout télécharger (archive ZIP)", "docs/tech_docs_wailing_trees.zip" %></span>
	</section>
	<section class="bio span6">
		<h3>Contacts</h3>
		<p>
			<b>Booking - JASPIR PROD:</b><br />
			Colin Rigaud : <a href="mailto:colin@jaspir.com">colin@jaspir.com</a><br />
		</p><p>
			<b>Management :</b><br />
			Cédric Danis : <a href="mailto:handsupconnexions@gmail.com">handsupconnexions@gmail.com</a><br />
		</p><p>
			<b>Relation Presse :</b><br />
			Camille Bougel : <a href="mailto:handsupcommunication@gmail.com">handsupcommunication@gmail.com</a>
		</p><p>
			<b>Régie son :</b><br />
			Vincent Aguilar : <a href="mailto:vincent.aguilar@hotmail.fr">vincent.aguilar@hotmail.fr</a>
		</p><p>
			<b>Régie lumières :</b><br />
			Olivier Girard : <a href="mailto:olivier.girard69@hotmail.fr">olivier.girard69@hotmail.fr</a>
		</p>
	</section>
</div>